.gradle
/build/
/out/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/bin/

### Pact ###
/target/

# Usar comodines
*~
*.swp
*.bak
*.class
*.keep
*.keep.*
*.orig
*_Deser.java
*_Helper.java
*_Ser.java
*.unloaded
*.7zp
*.contrib
*.contrib.*
*.LOCAL
*.REMOTE
*.merge*
*.BASE*
